* {
    max-width: 100%;
    margin: auto;
}

div {
    border-radius: 10px;
}

#header {
    height: 30px;
    width: 100%;
    background-color: sandybrown;
    position: fixed;
    z-index: 1;
}

#footer {
    height: 40px;
    width: 100%;
    background-color: sandybrown;
    position: relative;
    clear: both;
}

.left-side {
    height: 1000px;
    width: 45px;
    background-color: sandybrown;
    float: left;
    position: inherit;
}

.right-side {
    height: 1000px;
    width: 45px;
    background-color: sandybrown;
    float: right;
    position: inherit;
}

.content {
    display: inline-block;
    margin-top: 6px;
    margin-left: 50px;
    width: 75%;
    height: 1000px;
}

p,
li {
    font-family: "Titillium Web";
}

.paragrapghStyle {
    font-size: 25px;
    font-weight: bold;
}

#copyright {
    font-family: 'Oleo Script Swash Caps', cursive;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}